node_modules/*
build/*
uploads/

*.env
.env
public/swagger.json
/config
/models/index.js

build/
dist/
node_modules/
uploads/

src/routes/private/search/dummy_filters.ts
src/routes/private/search/dummy_profiles.ts

.vscode/*
secret.json